/**
 * Filename: _variables.scss
 * Author: Jose A Felix
 * Description: _variables stylesheet
 */

// ----------------------------------------------------------------
// Custom variables
// ----------------------------------------------------------------

/** Icon sizes */
$xsm-icon: 12px;
$sm-icon: 15px;
$md-icon: 25px;
$lg-icon: 35px;

/** Image sizes */
$lg-image: 15.625rem;
$md-image: 9.375rem;
$sm-image: 5rem;
$xsm-image: 3rem;
$micro-image: 1.8rem;

/** Padding and margin */
$default-padding: 0.8rem;
$default-margin: 0.8rem;
$xsm-separation: 2px;
$sm-separation: 5px;
$md-separation: 20px;