/**
 * Filename: _apptitle.scss
 * Author: Jose A Felix
 * Description: _apptitle stylesheet
 */

/* ----------------------------------------------------------------
     App title
--------------------------------------------------------------------*/

/** App title */
.app-title {
	letter-spacing: -0.1rem;
	font-size: 1.5rem;
	font-weight: bold;
}