/**
 * Filename: _avatar.scss
 * Author: Jose A Felix
 * Description: _avatar stylesheet
 */

/* ----------------------------------------------------------------
     Avatar
--------------------------------------------------------------------*/

/** Floating avatar info */
.floatingAvatarInfo {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}