/**
 * Filename: _copyright.scss
 * Author: Jose A Felix
 * Description: _copyright stylesheet
 */

/* ----------------------------------------------------------------
     Copyright
--------------------------------------------------------------------*/

.copyright-container {
	position: absolute;
	bottom: 1rem;
	right: 1rem;
	font-size: 0.7rem;
}