/**
 * Filename: _viewheader.scss
 * Author: Jose A Felix
 * Description: _viewheader stylesheet
 */

/* ----------------------------------------------------------------
     View header
--------------------------------------------------------------------*/

/** View title */
.view-title {
	font-weight: bold;
	padding: 0;
	margin-bottom: $default-margin;
}